
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import "tailwindcss";

@theme {
  --color-primary: #7ED957;
  --color-background-light: #F7F7F7;
  --color-background-dark: #0A0A0A;
  --color-text-light: #1E392A;
  --color-text-dark: #E0E0E0;
  --color-surface-light: #FFFFFF;
  --color-surface-dark: #141414;
  --color-border-light: #EAEAEA;
  --color-border-dark: #2D2D2D;

  --font-family-display: ['Manrope', 'sans-serif'];

  --border-radius-DEFAULT: 0.5rem;
  --border-radius-lg: 0.75rem;
  --border-radius-xl: 1rem;
  --border-radius-full: 9999px;
}

body {
  font-family: var(--font-family-display);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

